<!DOCTYPE html>
<html>

  <head>
    <script data-require="angular.js@" data-semver="1.3.0-beta.5" src="https://code.angularjs.org/1.3.0-beta.5/angular.js"></script>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </head>

  <body ng-app="myApp">
    
    <div class="custom-container" ng-controller="MainController">

      <div id="header"> 
      
        <div id="myMovies"> 
         <a ng-click="showMovies('mine')"><h1>My Movies</h1></a>
        </div>
        
        <div id="clean">
          <a href="" ng-click="showMovies('clear')"><img src="img/movie-theme.jpg"/> <a/>
        </div>
        
        <div id="allMovies">     
          <a href="" ng-click="showMovies('all')"><h1>All Movies</h1></a>
        </div>

      </div>

      <div id="movies">
        <table class="table" ng-show="dlist.length > 0">
          <thead>
            <tr>
              <th>#</th>
              <th>Title</th>
              <th>Genre</th>
              <th>Director</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="movie in dlist | orderBy: 'title'">
              <td>{{ $index + 1 }}</td>
              <td>{{ movie.title }}</td>
              <td>{{ movie.genre }}</td>
              <td>{{ movie.director }}</td>
            </tr>
          </tbody>
        </table>

      </div>

      <button data-ng-click="getHops()">Get Hops</button>

    </div>



    <!-- Modules -->
    <script src="js/app.js"></script>

    <!-- Controllers -->
    <script src="js/controllers/MainController.js"></script>

  </body>

</html>